.chk-Item {
  @extend .d-flex, .align-items-center;
  margin-bottom: .25rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.chk-Item_Check {
  @include icon-button;
}

.chk-Item_Mark {
  @extend .fa;
  font-size: 2rem;
  color: $app-color-gray2;

  &-sm {
    font-size: 1rem;
  }

  &-ready {
    @extend .fa-circle-thin;
  }

  &-checked {
    @extend .fa-check-circle;
    color: $app-color-green;
  }

  &-disabled {
    @extend .fa-minus-circle;
  }
}

.chk-Item_Label {
  @include nf;
  font-size: $app-font-size;
  margin-left: .5rem;
}

.chk-Item_Actions {
  @extend .ml-auto;
  font-size: $app-font-size-sm;
  min-width: 6rem;
  text-align: right;
}

.chk-Item_Delete {
  @extend .fa, .fa-trash-o;
  font-size: $app-font-size-lg;
}
