.sbl-List {
  @include paper;
  padding-bottom: .5rem;
}

.sbl-Item {
  @extend .d-flex;
  @include xxul($app-color-text, $app-color-text);
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid $app-color-gray1;

  &:last-child {
    border-bottom: none;
  }
}

.sbl-PBI {
  margin-right: 1rem;
}

.sbl-PBI_Header {
  margin-bottom: .125rem;
}

.sbl-PBI_Id {
  font-weight: bold;
  color: $app-color-subtext;
}

.sbl-PBI_Content {
  @include nf;
  line-height: 1.3;
  margin: 0;
}

.sbl-TaskBlock {
  @extend .ml-auto;
  @extend .d-flex, .align-items-center, .justify-content-center;
  display: inline-block;
  min-width: 13rem;
  max-width: 13rem;
  background-color: $app-color-task;
  padding: .75rem .75rem .25rem;
  border-radius: .2rem;
}

.sbl-Task {
  text-align: center;
}

.sbl-Task_Progress {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: $app-color-subtext;
}

.sbl-Task_Label {
  display: block;
  font-size: $app-font-size-sm;
  color: $app-color-subtext;
  margin-bottom: .25rem;
}

.sbl-Task_Dots {
  @extend .d-flex, .flex-wrap, .justify-content-center;
}

.sbl-Task_Dot {
  margin: 0 .125rem;
}
