<div class="fe-Background">
  <div class="fe-Summary_Body">
    <i class="fe-Anchor"></i>
    <div class="fe-Summary_Content st-Editable">
      <span class="fe-Content">
        <%= content %>
      </span>
      <%= link_to '確認する', page_url(:show_feature), class: 'st-Editable_Action sw-Link sw-Link-sm' %>
    </div>
    <span class="fe-Point fe-Summary_Point">
      <%= point %>
    </span>
  </div>
</div>
