<div class="rp-Section_PBL">
  <div class="rp-Section_Header">
    <h2 class="rp-Section_Title">
      リリース予定フィーチャー
    </h2>
    <div class="rp-TotalPoint_Wrapper">
      <span class="rp-TotalPoint">
        250
      </span>
    </div>
  </div>
  <%= render partial: 'pbl_list', locals: { template: 'release_pbl_item', item_count: 20 } %>
</div>
