<div class="fe-Background fe-Background-sm">
  <div class="fe-Summary_Body fe-Summary_Body-sm">
    <input type="checkbox" class="rp-Feature_Check">
    <div class="fe-Summary_Content st-Editable">
      <span class="fe-Content">
        <%= content %>
      </span>
    </div>
    <span class="fe-Point fe-Summary_Point">
      <%= point %>
    </span>
  </div>
</div>
