<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      チーム
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-12 mx-auto">
    <div class="sw-Section">
      <div class="sw-Section_Header">
        <h2 class="sw-Section_Title">
          メンバーを招待
        </h2>
      </div>
      <div class="sw-Section_Body">
        <p class="sw-Subtext mb-2">
          このURLを招待する人に共有してください。
        </p>
        <input type="text" value="http://location.to.join.team" class="form-control">
      </div>
    </div>
  </div>
</div>
