<div class="row sw-Main sw-Main-xl">
  <div class="col-lg-12 mx-auto">
    <div class="sw-Section">
      <div class="sw-Section_Header">
        <h2 class="sw-Section_Title">
          チームへの参加
        </h2>
      </div>
      <div class="sw-Section_Body">
        <p class="sw-Subtext">
        このプロジェクトチームへ参加しますか？
        </p>
        <h5 class="sw-Strong mb-3">
          Leave me alone!
        </h3>
        <button class="btn btn-success">
          参加する
        </button>
      </div>
    </div>
  </div>
</div>
