<div class="row sw-Main">
  <div class="col-lg-16 mx-auto">
    <div class="tm-Join">
      <h1 class="tm-Join_ProjectName">
        Leave me alone!
      </h1>
      <p class="tm-Join_Guide">
        このプロジェクトチームへ参加しますか？
      </p>
      <button class="btn btn-success">
        参加する
      </button>
    </div>
  </div>
</div>
