<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:show_project) -%>
    <%= link_to 'プロダクトバックログ', page_url(:product_backlog) -%>
    <span class="current">
      新しいフィーチャー
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-14 mx-auto">
    <div class="fe-Background fe-Background-lg">
      <form>
        <div class="form-group">
          <label>
            フィーチャーの内容
          </label>
          <textarea class="form-control form-control-lg" rows="3" placeholder="ex: ユーザーストーリー"></textarea>
        </div>
        <div class="frm-Actions">
          <button class="btn btn-success">
            追加する
          </button>
          <%= link_to 'キャンセル', page_url(:product_backlog), class: 'frm-Action_Cancel' %>
        </div>
      </form>
    </div>
  </div>
</div>
