<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'プロジェクトホーム', '' -%>
    <span class="current">
      プロダクトバックログ
    </span>
  </div>
</div>
<div class="row">
  <div class="col-lg-16 mx-auto">
    <div class="st-BreakHeader">
      <h1 class="sw-Content_Title">
        プロダクトバックログ
      </h1>
      <span class="st-BreakHeader_Line"></span>
      <div class="ml-auto">
        <%= link_to page_url(:new_product_backlog_item), class: 'btn btn-sm btn-outline-success' do -%>
          <i class="fa fa-plus"></i>
          追加する
        <% end -%>
      </div>
    </div>
    <div class="pbl-Body">
      <div class="sw-BlankSlate">
        <p class="sw-BlankSlate_Body">
          まだプロダクトバックログアイテムはありません。
        </p>
        <% 5.times do %>
          <%= image_tag 'blank_pbi.svg' %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
