<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      プロダクトバックログ
    </span>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="sw-Main">
      <div class="pbl-Container_Header">
        <%= link_to page_url(:new_feature), class: 'btn btn-sm btn-success' do %>
          <i class="icon-Add icon-Prefix"></i>
          新しいフィーチャーを追加
        <% end -%>
      </div>
      <div class="col-lg-12 pbl-Container_Body">
        <div class="fe-Background">
          <div class="fe-Summary_Body">
            <i class="fe-Anchor"></i>
            <p class="fe-Content">
              ユーザー登録の説明
            </p>
            <span class="fe-Point">
              1
            </span>
          </div>
        </div>
        <div class="fe-Background">
          <div class="fe-Summary_Body">
            <i class="fe-Anchor"></i>
            <p class="fe-Content">
              Todoリストの自動保存
            </p>
            <span class="fe-Point">
              13
            </span>
          </div>
        </div>
        <div class="fe-Background">
          <div class="fe-Summary_Body">
            <i class="fe-Anchor"></i>
            <p class="fe-Content">
              リマインド間隔設定
            </p>
            <span class="fe-Point">
              8
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
