<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      プロダクトバックログ
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col">
    <div class="pbl-Container_Header">
      <%= link_to page_url(:new_feature), class: 'btn btn-sm btn-success' do %>
        <i class="icon-Add icon-Prefix"></i>
        新しいフィーチャーを追加
      <% end -%>
    </div>
    <div class="col-lg-15 pbl-Container_Body">
      <%= render partial: 'pbl_list', locals: { template: 'pbl_item', item_count: 10 } %>
    </div>
  </div>
</div>
