<div class="row">
  <div class="col-lg-10 mx-auto">
    <div class="st-Content-mt">
      <div class="st-Content_Header-mb">
        <h1 class="sw-Content_Title">
          あなたのプロジェクト
        </h1>
        <div class="prjl-Header_Actions">
          <%= link_to page_url(:new_project), class: 'btn btn-sm btn-success' do -%>
            <i class="fa fa-plus"></i>
            作成する
          <% end -%>
        </div>
      </div>
      <div class="st-Content_Body">
        <% %w(alpha bravo charlie delta eco).each do |n| -%>
          <div class="prjl-Item">
            <%= link_to "プロジェクト#{n}", '', class: 'prjl-Item_Name' %>
            <ul class="prjl-Item_Navs sw-HorizontalList">
              <li>
                <%= link_to 'プロダクトバックログへ', page_url(:product_backlog) %>
              </li>
              <li>
                <%= link_to 'スプリントバックログへ', '' %>
              </li>
            </ul>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
