<div class="row sw-Main-xl">
  <div class="col-lg-13 mx-auto">
    <div class="sw-Section">
      <div class="sw-Section_Header">
        <h2 class="sw-Section_Title">
          あなたのプロジェクト
        </h2>
      </div>
      <div class="sw-Section_Body sw-Section_Body-thin">
        <ul class="sw-List">
          <li>
            <%= link_to 'Leave me alone!', page_url(:show_project), class: 'sw-Strong sw-Large' %>
          </li>
          <li>
            <%= link_to 'Laminate', '#', class: 'sw-Strong' %>
          </li>
        </ul>
        <div class="sw-Section_Footer">
          <div class="ml-auto">
            <%= link_to page_url(:new_project), class: 'btn btn-sm btn-success sw-Large' do %>
              <i class="icon-Prefix icon-Add"></i>
              プロジェクトを追加する
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
