<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      リリース計画
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-21 rp-Background mx-auto">
    <div class="row">
      <div class="col-lg-11">
        <%= render 'release_plan_chart' %>
        <%= render 'release_plan_spec' %>
      </div>
      <div class="col-lg-11">
        <%= render 'release_plan_pbl' %>
      </div>
    </div>
  </div>
</div>
