<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      リリース計画
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-20 rp-Background mx-auto">
    <div class="col-lg-10">
      <%= render 'release_plan_chart' %>
      <%= render 'release_plan_spec' %>
    </div>
    <div class="col-lg-12">
      <%= render 'release_plan_pbl' %>
    </div>
  </div>
</div>
