<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <span class="current">
      リリース計画
    </span>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="sw-Main">
    </div>
  </div>
</div>
