<div class="row sw-Main">
  <div class="col text-center">
    <h1 class="prj-Name">
      Leave me alone!
    </h1>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-7 mx-auto">
    <div class="prj-Iteration">
      <div class="prj-Iteration_Body">
        <div class="it-Date">
          <span class="it-Date_Month">
            6月
          </span>
          <span class="it-Date_Day">
            22
          </span>
          <span class="it-Date_Dow">
            金
          </span>
        </div>
        <i class="it-Forward"></i>
        <div class="it-Date it-Date-today">
          <span class="it-Date_Month">
            6月
          </span>
          <span class="it-Date_Day">
            23
          </span>
          <span class="it-Date_Dow">
            土
          </span>
        </div>
        <i class="it-Forward"></i>
        <div class="it-Date">
          <span class="it-Date_Month">
            6月
          </span>
          <span class="it-Date_Day">
            28
          </span>
          <span class="it-Date_Dow">
            木
          </span>
        </div>
      </div>
      <h3 class="prj-Iteration_Title">
        イテレーション10
      </h3>
    </div>
  </div>
</div>
<div class="row sw-Main-lg">
  <div class="col-lg-22 mx-auto">
    <%= render 'project_menu' %>
  </div>
</div>
