<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'あなたのプロジェクト', page_url(:project_list) -%>
    <span class="current">
      新しいプロジェクト
    </span>
  </div>
</div>
<div class="row">
  <div class="col-lg-13 mx-auto">
    <div class="st-Sheet">
      <div class="st-Sheet_Header st-Sheet_Header-mb">
        <h1 class="sw-Content_Title">
          新しいプロジェクト
        </h1>
      </div>
      <div class="st-Sheet_Body">
        <form>
          <div class="form-group">
            <label>
              名前
            </label>
            <input type="text" class="form-control" />
          </div>
          <div class="frm-Actions">
            <button type="submit" class="btn btn-success">
              <i class="fa fa-plus"></i>
              作成する
            </button>
            <%= link_to 'キャンセル', page_url(:project_list), class: 'frm-Action_Cancel' %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
