.fe-Background {
  @include card;
  @include padding-base;
  background-color: $white;
  margin-bottom: .25rem;
}

.fe-Background-sm {
  @include padding-sm;
}

.fe-Background-lg {
  @include padding-lg;
}

.fe-Summary_Body {
  @extend .d-flex, .align-items-center;
  font-size: $font-size-base;
}

.fe-Summary_Body-sm {
  font-size: $font-size-sm;
}

.fe-Summary_Content {
  max-width: 85%;
  font-size: 1em;
}

.fe-Summary_Point {
  @extend .ml-auto;
}

.fe-Anchor {
  @extend .fa, .fa-bars;
  margin-right: .75rem;
  font-size: 1em;
  color: $gray-500;
  cursor: pointer;
}

.fe-Point {
  @include circle(1.875em);
  background-color: lighten($purple, 40%);
  color: $purple;
}

.fe-Point-lg {
  @include circle(2.25em);
  background-color: lighten($purple, 40%);
  color: $purple;
}

.fe-Detail {
  font-size: $font-size-base;
}

.fe-Detail_Main {
  @extend .d-flex, .align-items-center;
  margin-bottom: .5rem;
}

.fe-Content {
  @include nf;
}

.fe-Detail_Point {
  @extend .ml-auto;
}

.fe-AcceptanceCriteria {
  margin-top: 1rem;
}

.fe-AcceptanceCriteria_Title {
  font-size: $font-size-sm;
  color: $secondary;
}

.fe-AcceptanceCriteria_Body {
  margin: .75rem 0;
}

.fe-AcceptanceCriterion {
  @extend .d-flex, .align-items-center;
  margin-bottom: .325rem;
}

.fe-AcceptanceCriterion_Content {
  @include nf;
  margin-left: .5rem;
}
