.fe-Background {
  @include card;
  @include padding-base;
  width: 100%;
  margin-bottom: .25rem;
  background-color: $white;
}

.fe-Background-sm {
  @include padding-sm;
}

.fe-Background-lg {
  @include padding-lg;
}

.fe-Summary_Body {
  @extend .d-flex, .align-items-center;
  font-size: $font-size-base;
}

.fe-Summary_Body-sm {
  font-size: $font-size-sm;
}

.fe-Summary_Content {
  max-width: 85%;
  font-size: 1em;
}

.fe-Summary_Point {
  @extend .ml-auto;
}

.fe-Anchor {
  @extend .fa, .fa-bars;
  margin-right: .75rem;
  font-size: 1em;
  color: $gray-500;
  cursor: pointer;
}

.fe-Point {
  @include circle(1.875em);
  background-color: lighten($purple, 40%);
  color: $purple;
}

.fe-Point-lg {
  @include circle(2.25em);
  background-color: lighten($purple, 40%);
  color: $purple;
}

.fe-Detail {
  font-size: $font-size-base;
}

.fe-Detail_Main {
  @extend .d-flex;
  margin-bottom: 1rem;
}

.fe-Content {
  @include nf;
  @include no-mb;
}

.fe-Content-lg {
  font-size: $font-size-lg;
}

.fe-Detail_Point {
  @extend .ml-auto;
}

.fe-PointLabel {
  @extend .form-check-label;
  color: $gray-900;
  margin-bottom: -0.125rem;
}

.fe-Note {
  @include padding-base;
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: $gray-100;
  border-radius: .3rem;
}

.fe-Note_Header {
  margin: .25rem 0;
}

.fe-Note_Title {
  @include heading;
  font-size: $font-size-base;
  color: $secondary;
}
