input,
textarea {
  @include nf;
}

label {
  margin-bottom: .25rem;
  font-weight: bold;
  color: $secondary;
}

.btn {
  text-decoration: none;
}

.custom-control-label,
.form-check-label {
  color: $secondary;
  font-weight: normal;
  font-size: $font-size-lg;
}

.frm-Actions {
  @extend .d-flex, .align-items-center;
}

.frm-Action_Cancel {
  color: $gray-600;
  margin-left: 1rem;
  font-weight: bold;

  &:hover {
    color: $gray-800;
  }
}
