.icon-Prefix {
  margin-right: .25rem;
}

.icon-Add {
  @extend .fa, .fa-plus;
}

.icon-Configure {
  @extend .fa, .fa-cog;
}

.icon-Time {
  @extend .fa, .fa-clock-o;
}

.icon-Person {
  @extend .fa, .fa-user-circle;
}

.icon-Check {
  font-size: 1.5rem;
}

.icon-Check-disabled {
  @extend .fa, .fa-minus-circle;
  color: $gray-300;
}
