.nav-link,
.dropdown-item {
  font-size: $app-font-size;
  text-decoration: none;
}

.nav-Global {
  background-color: rgba(255,255,255,.9) !important;
  border-bottom: 1px solid $app-color-gray1;
}

.nav-Global_AppName {
  color: $app-color-primary !important;
  font-size: $app-font-size-lg;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs {
  @include nf;
  display: inline-block;
  font-size: $app-font-size-sm;
  margin: .25rem auto .75rem;

  a {
    &:after {
      @include fa-content('\f138');
      display: inline-block;
      color: $app-color-gray4;
      margin: 0 .5rem;
    }
  }

  .current {
    background-color: $app-color-gray5;
    color: #FFF;
    padding: .25rem .675rem;
    border-radius: 1rem;
  }
}
