a.btn,
.nav-link,
.dropdown-item {
  text-decoration: none;
}

.nav-Global {
  background-color: rgba(255,255,255,.6) !important;
}

.nav-Global_AppName {
  color: theme-color('primary') !important;
  font-size: $font-size-lg;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs {
  @include nf;
  display: inline-block;
  margin: 1rem auto 0;

  a {
    &:first-child {
      font-size: $font-size-lg;
      font-weight: bold;
    }

    &:after {
      @include fa-content('\f138');
      display: inline-block;
      color: $gray-500;
      font-size: $font-size-base;
      margin: 0 .675rem;
    }
  }

  .current {
    margin-left: -0.25rem;
    color: $gray-900;
  }
}
