a.btn,
.nav-link,
.dropdown-item {
  text-decoration: none;
}

.nav-Global {
  background-color: rgba(255,255,255,.6) !important;
}

.nav-Global_AppName {
  color: theme-color('primary') !important;
  font-size: $font-size-lg;
  font-weight: bold;
  text-decoration: none;
}

.breadcrumbs {
  margin: 1rem auto 0;
  line-height: 1.5;

  a {
    &:first-child {
      font-weight: bold;
      font-size: 1.25rem;
    }

    &:after {
      @include fa-content('\f138');
      display: inline-block;
      color: $gray-500;
      font-size: $font-size-base;
      margin: 0 .5rem 0 .75rem;
    }
  }

  .current {
    font-weight: bold;
    color: $gray-900;
  }
}

#flash {
  position: fixed;
  top: 15vh;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  margin: 0;
}

.fl-Block {
  @extend .d-flex, .align-items-center;
  padding: .5rem 1rem .5rem 1.25rem;
  border-radius: 7rem;
  background-color: rgba(0,0,0,.7);
}

@mixin fl-block-color($color) {
  color: $color;
}

.fl-Block-success {
  @include fl-block-color(theme-color('success'));
}

.fl-Block-danger {
  @include fl-block-color(theme-color('danger'));
}

.fl-Message {
  font-size: $font-size-lg;
  margin-right: .75rem;
}

.fl-Close {
  font-size: $font-size-lg;
  font-weight: bold;
  color: $gray-600;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $gray-400;
  }
}
