.pbl-List {
  @include paper;
}

.pbl-Item {
  @extend .d-flex;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $app-color-gray1;

  &:last-child {
    border-bottom: none;
  }
}

.pbl-Item_Header {
  @extend .d-flex, .align-items-center;
  margin-right: 1.25rem;
}

.pbl-Item_Handle {
  @extend .fa, .fa-bars;
  font-size: 1.25rem;
  color: $app-color-gray2;
}

.pbl-Item_Body {
  @extend .d-flex, .flex-column;
}

.pbl-Item_Id {
  font-size: $app-font-size;
  font-weight: bold;
  color: $app-color-subtext;
}

.pbl-Item_Content {
  @include nf;
  @include xul($app-color-text, $app-color-text);
  line-height: 1.1;
  font-size: $app-font-size;
}

.pbl-Item_Tail {
  @extend .ml-auto, .d-flex, .align-items-center;
}

.pbl-Item_Amount {
  @include circle(2rem);
  @include app-color-pbi-amount;
}
