.pbl-Item {
  @extend .d-flex, .align-items-center;
  padding: .75rem 0;
  border-bottom: 1px solid $app-color-gray1;

  &:last-child {
    border-bottom: none;
  }
}

.pbl-Item_Handle {
  @extend .fa, .fa-bars;
  font-size: 1.25rem;
  color: $app-color-gray2;
  margin-right: 1.5rem;
}

.pbl-Item_Main {
  @extend .d-flex, .align-items-center;
  @include xxul($app-color-text, $app-color-text);
  width: 100%;
}

.pbl-Item_Id {
  display: block;
  font-size: $app-font-size;
  font-weight: bold;
  color: $app-color-subtext;
}

.pbl-Item_Content {
  @include nf;
  line-height: 1.1;
  font-size: $app-font-size;
  margin: 0;
}

.pbl-Item_Tail {
  @extend .ml-auto, .d-flex, .align-items-center;
}

.pbl-Item_Amount {
  @include circle(2rem);
  @include app-color-pbi-amount;
}
