.prjl-List {
  border-radius: .2rem;
  border: 1px solid $app-color-gray1;
}

.prjl-Item {
  @extend .d-flex;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid $app-color-gray1;

  &:last-child {
    border-bottom: none;
  }
}

.prjl-Item_ProjectNameLink {
  @include xul($app-color-text, $app-color-text);
}

.prjl-Item_ProjectName {
  @include heading(1.5rem);
  @include nf;
  font-size: $app-font-size-lg;
}

.prjl-Item_Navs {
  @extend .ml-auto;
}

ul.prjl-Item_LinkList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:before {
      @include fa-content('\f14d');
      color: $app-color-gray3;
      margin-right: .25rem;
    }
  }
}
