.prjl-Item {
  @extend .d-flex, .align-items-center;
  border-bottom: 1px solid $app-color-gray1;
  margin-bottom: .5rem;
  padding: .75rem 0;

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.prjl-Item_Name {
  @include nf;
  @include xul($app-color-text, $app-color-text);
}

.prjl-Item_Navs {
  @extend .ml-auto;
  display: inline-block;
  font-size: $app-font-size-sm;
}
