.prjl_Item {
  @extend .d-flex;
  @include paper;
  padding: 1.5rem;
}

.prjl_Item_ProjectNameLink {
  @include xul($app-color-text, $app-color-text);
}

.prjl_Item_ProjectName {
  @include heading(1.5rem);
  @include nf;
  font-size: $app-font-size-lg;
}

.prjl_Item_Navs {
  @extend .ml-auto;
  width: 30%;
}

ul.prjl-Item_LinkList {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    &:before {
      @include fa-content('\f14d');
      color: $app-color-gray3;
      margin-right: .25rem;
    }
  }
}
