.pub-Background {
  height: 100vh;
  background: rgb(113,76,165);
  background: linear-gradient(176deg, rgba(113,76,165,1) 0%, rgba(140,98,200,1) 100%, rgba(0,212,255,1) 100%);
  background-color: theme-color('primary');
}

.pub-Container_SignIn {
  @include card;
  @include padding-lg;
  margin-top: 15vh;
  text-align: center;
}

.pub-AppName {
  font-size: 2rem;
  margin: 1rem 0 2rem;
  font-weight: bold;
  color: $purple;
}

.pub-Button_SignUp {
  @extend .btn, .btn-lg, .btn-block, .btn-success;
}

.pub-Button_SignIn {
  @extend .btn, .btn-lg, .btn-block, .btn-secondary;
}

.pub-Divider {
  @include break-center($gray-600, $gray-300);
  margin: 1.5rem 0;
}
