.sw-Subtext {
  color: $secondary;
}

.sw-Strong {
  font-weight: bold;
}

.sw-Link-sm {
  font-size: $font-size-sm;
}

.sw-List {
  @include no-mb;
  font-size: $font-size-lg;

  li {
    margin-bottom: .25rem;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.sw-Main {
  margin-top: 1.25rem;
}

.sw-Main-lg {
  margin-top: 3.5rem;
}

.sw-Section {
  @include card;
}

.sw-Section-align-center {
  text-align: center;
}

.sw-Section_Header {
  border-bottom: 1px solid $gray-100;
  padding: .75rem 1.5rem .75rem;
}

.sw-Section_Title {
  @include heading;
  font-size: $font-size-base;
  color: $gray-600;
}

.sw-Section_Body {
  padding: 1.25rem 1.5rem 1.75rem;
}

.sw-Section_Footer {
  border-top: 1px solid $gray-100;
  padding: .75rem 1.5rem;
}
