.st-Content {
  @mixin base {
    @extend .sw-Sheet;
    padding: 0 0 2rem;
  }
  @include base;

  &-mt {
    @include base;
    margin-top: 1.5rem;
  }
}

.st-Content_Header {
  @mixin base {
    @extend .d-flex;
    padding: 2rem 0 .325rem;
    margin: 0 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $app-color-text;
  }
  @include base;
}

.st-Header_Actions {
  @extend .d-flex, .align-items-center;
  @extend .ml-auto;
}

.st-Content_Body {
  @mixin base {
    padding: 0 3.25rem;
  }
  @include base;

  &-mt {
    @include base;
    padding-top: 2rem;
  }
}
