.st-Content {
  @extend .sw-Sheet;
  padding: 0 0 2rem;

  &-mt {
    margin-top: 1.5rem;
  }
}

.st-Content_Header {
  @mixin base {
    @extend .d-flex;
    padding: 2rem 0 .325rem;
    margin: 0 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $app-color-text;
  }
  @include base;
}

.st-Header_Actions {
  @extend .d-flex, .align-items-center;
  @extend .ml-auto;
}

.st-Content_Body {
  padding: 0 3.25rem;
}
