.st-Sheet {
  @extend .sw-Sheet;
  padding: 0 0 $app-space-y;

  &-mt {
    margin-top: 1rem;
  }
}

.st-Sheet_Header {
  @extend .d-flex;
  padding: $app-space-y 0 0;
  margin: 0 $app-space-x;
  margin-bottom: $app-space-y;
}

.st-Header_Actions {
  @extend .d-flex, .align-items-center;
  @extend .ml-auto;
}

.st-Sheet_Body {
  padding: 0 $app-space-x;
}

.st-GroundBlock {
}

.st-GroundBlock_Header {
  @extend .d-flex, .align-items-center;
  margin-bottom: 1rem;
}

.st-GroundBlock_Line {
  flex-grow: 1;
  margin-left: .5rem;
  border-bottom: 1px solid $app-color-shadow;
}

.st-GroundBlock_Body {
  padding: 0 1.5rem;
}
