.tm-Join {
  @include card($white);
  @include padding-lg;
  margin-top: 15vh;
  text-align: center;
}

.tm-Join_ProjectName {
  font-weight: bold;
  font-size: $font-size-lg;
}

.tm-Join_Guide {
  @include nf;
  margin: 1rem 0;
}
