$app-color-text: #1C2023;
$app-color-subtext: #7F7E63;
$app-color-bg: #F7F8F9;
$app-color-shadow: #ced4da;

$app-font-size: .875rem;
$app-font-size-sm: .75rem;
$app-font-size-lg: 1rem;

$app-color-gray1: #e9ecef;
$app-color-gray2: #aaacae;
$app-color-gray3: #71777c;
$app-color-gray4: #60666c;
$app-color-gray5: #3D454C;

$app-color-primary: #714CA5;
$app-color-blue: #63ABD8;
$app-color-green: #4FA533;
$app-color-red: #dc3545;
