<nav class="nav-Global navbar navbar-expand-md navbar-light bg-light">
  <%= link_to 'Laminate', page_url(:project_list), class: 'nav-Global_AppName navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <% if current_user -%>
      <%= render 'user_menu' %>
    <% end -%>
  </div>
</nav>
